*{
    font-family: sans-serif;
}

#debug_data {
  padding: 10px;
  font-size: .5em;
}

#touch_space {
    margin: 20px;
    font-size: .4em;
}

#resetButton {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #0099FF;
  border-radius: 15px;
  border-style: none;
  color: #FFFFFF;
  font-size: 1em;
  padding: 10px;
}
